body {
    background-color: #00807F;
    color: White;
    font-family: "Arial", serif;
}

header {
    margin: auto;
    padding: auto;
}

.rightside {
    float: right;
    font-size: 18px;
}

a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#a3abb5;
}

a:hover 
{
    color:#ced6de;
}
