body {
    background-color: #00807F;
    color: White;
    font-family: "Arial", serif;
}

header {
    margin: auto;
    padding: auto;
}

a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#a3abb5;
}

a:hover 
{
    color:#ced6de;
}

.ljvm-title {
    display: flex;
    align-items: center;
    
}

.ljvm-title a {
    margin: 0;

}

.ljvm-title h1 {
    margin: 10px;

}
