body {
    background-color: #00807F;
    color: White;
    font-family: "Arial", serif;
}

header {
    margin: auto;
    padding: auto;
}

a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#a3abb5;
}

a:hover 
{
    color:#ced6de;
}

.ljvm-title {
    display: flex;
    align-items: center;
    
}

.ljvm-title a {
    margin: 0 10px;

}

.ljvm-title h1 {
    margin: 10px;

}

.ljvm-footer {
    background-color: #4b4e52;
    color: white;
    position: fixed; 
    left: 0;
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    padding: 10px 0; 
    margin-top: 20px; 
}

.ljvm-body {
    flex: 1;
    padding: 20px;
    padding-bottom: 60px;

}

.ljvm-staffdir {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;

}

.ljvm-staff {
    text-align: center;
}

.ljvm-staff img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}

.ljvm-staff .ljvm-staffrole {
    margin-top: 10px;
    font-size: 1rem;
}
