<html>
  <head>
    <link rel="stylesheet" href="../../css/style.css">
    <title>VM4 - LunaVM</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
  </head>
  <body>
    <div class="ljvm-title">
      <h1>LunaVM</h1>
      <a href="../../index.html">Home</a> 
      <a href="../Rules.html">Rules</a> 
      <a href="../VMs.html">VMs</a>
      <!-- <a href="../LuserVM.html">LuserVM</a> -->
      <a href="../Staff.html">Staff</a>
      <a href="../Contact.html">Contact Me</a> 
    </div>
    <div class="ljvm-body">
        <h2>VM4</h2>
        <hr>
        <p>OS: ENTER OS HERE</p>
        <p>Last updated Feb 6 2025</p>
        <hr style="width: 25%; margin-left: 0;">
        <p>Info for VM Connection:</p>
        <p>Rustdesk:</p>
        <p>ID: TBA</p>
        <p>Password: TBA</p>
        <br>
        <p>AnyDesk:</p>
        <p>ID: TBA</p>
        <p>Password: TBA</p>
        <p>Please note that when logging in, for you to see everything, select username and enter "WIN-P3OFDOFSFVT\limp buzzcut" with no quotes. Then enter the password.</p>
        <hr style="width: 25%; margin-left: 0;">
        <p>Usual Operational Hours: 24/7 <a href="https://time.is/PST">PST</a></p>
        <hr style="width: 25%; margin-left: 0;">
        <p>Notes:</p>
        <p>This is my horrible attempt at a "gaming pc." The reason I picked Server 2019 is because MS Copilot said so. Bruh.</p>
        <p>Anyways this VM includes programs such as Bluestacks, Winaero, and 4k video downloader among other things. It is also our first TeamViewer-supported VM.</p>
        <hr>
        <img src="../../img/vm/vm0_feb2025.png" alt="Windows S2019 Gayming PC VM0">
        <br>
        <div class="centertext">
          <p>VM last updated 2-4-2025</p>
        </div>
      <div class="ljvm-footer">
        <p>Owned by SylveonTheOctoling on GitHub. All copyright goes to their respective owners. For issues, you can <a href="../Contact.html">contact me</a> or open one on GitHub.</p>
        <p>Original site by LJ9859, also <a href="github.com/LJ9859">on github</a></p>
      </div>
    </div>
  </body>
</html>
